// COLORS

$color-primary: #55c57a;
$color-primary-light: #ffffff;
$color-primary-dark: #003399;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


//FONT

$default-font-size: 1.6rem;




//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//NAV

$header-height: 10rem;