.header {
  height: $header-height;
  background-image: linear-gradient(
     to right, 
     rgba($color-primary-light,0.8),
     rgba($color-primary-dark,0.8) );
  background-size: cover;
  background-position: top;
  overflow: hidden;
  
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem;  
  }
  &__logo{
    height: 3.5rem;  
  }
  &__text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;  
  }
}